# Parents engagement Dashboard

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("lainguyn123/student-performance-factors")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/lainguyn123/student-performance-factors?dataset_version_number=8...

100%|███████████████████████████████████████████████████████████████████████████████████████████| 93.9k/93.9k [00:00<00:00, 293kB/s]

Extracting files...
Path to dataset files: C:\Users\RAISSA\.cache\kagglehub\datasets\lainguyn123\student-performance-factors\versions\8

In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('student_performance_cleaned.csv')


df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6378.000000,6378.000000,6378.000000,6378.000000,6378.000000,6378.000000,6378.000000
mean,19.977109,80.020853,7.034964,75.066165,1.495296,2.972719,67.252117
std,5.985460,11.550723,1.468033,14.400389,1.233984,1.028926,3.914217
min,1.000000,60.000000,4.000000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.000000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.000000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.000000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.000000,100.000000,8.000000,6.000000,101.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6378 entries, 0 to 6377
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6378 non-null   int64
 1   Attendance                  6378 non-null   int64
 2   Parental_Involvement        6378 non-null   object
 3   Access_to_Resources         6378 non-null   object
 4   Extracurricular_Activities  6378 non-null   object
 5   Sleep_Hours                 6378 non-null   int64
 6   Previous_Scores             6378 non-null   int64
 7   Motivation_Level            6378 non-null   object
 8   Internet_Access             6378 non-null   object
 9   Tutoring_Sessions           6378 non-null   int64
 10  Family_Income               6378 non-null   object
 11  Teacher_Quality             6378 non-null   object
 12  School_Type                 6378 non-null   object
 13  Peer_Influence              6378 non-null   object
 14  Physical_Activity           6378 non-null   int64
 15  Learning_Disabilities       6378 non-null   object
 16  Parental_Education_Level    6378 non-null   object
 17  Distance_from_Home          6378 non-null   object
 18  Gender                      6378 non-null   object
 19  Exam_Score                  6378 non-null   int64
dtypes: int64(7), object(13)
memory usage: 996.7+ KB

In [15]:
import pandas as pd

df = pd.read_csv('StudentPerformanceFactors.csv')

# Drop rows with any missing values
df_cleaned = df.dropna().copy()

df_cleaned.to_csv('student_performance_cleaned.csv', index=False)

print("Cleaned data saved to 'student_performance_cleaned.csv'")

Cleaned data saved to 'student_performance_cleaned.csv'